.card {
  display: flex;
  flex-direction: column;
}

.card a {
  margin-top: auto;

  display: inline-block;
  text-align: center;

  padding: 6px 10px; 
  border-radius: 8px; 

  border: 1px solid var(--neon); 
  color: #fff;

  background-color: transparent;
  text-decoration: none;
  font-size: 14px;

  transition: 0.2s;
}

.card a.disabled {
  margin-top: auto;

  display: inline-block;
  text-align: center;

  padding: 6px 10px;
  border-radius: 8px;

  border: 1px solid #999;
  color: #999;

  pointer-events: none; /* desativa clique */
  cursor: not-allowed;
}

.card a:hover {
  color: #fff;
}